body {
	--button_background: white;
	--button_background_hover: black;
	--border_color: black;
	--font_color: black;
	--font_color_hover: white;
	background-color: white;
	color: black;
}

body.night {
	--button_background: black;
	--button_background_hover: white;
	--border_color: white;
	--font_color: white;
	--font_color_hover: black;
	background-color: black;
	color: white;
}

h1 {
	text-align: center;
	font-family: 'Acme', sans-serif;
	color: var(--font_color);
}

#score {
	margin-bottom: 10px;
}

#crossHeader, #circleHeader {
	width: 20px;
	margin: 0 auto;
	vertical-align: top;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
}

#score td {
	border: 1px solid var(--border_color);
	height: 25px;
	width: 25px;
	text-align: center;
	font-family: 'Acme', sans-serif;
}

#board td {
	border: 5px solid var(--border_color);
	height: 100px;
	width: 100px;
	text-align: center;
}

.options {
	display: flex;
	align-items: center;
    justify-content: space-evenly;
	margin: 0 auto;
	width: 10%;
}

#theme_control {
	font-size: 1.2em;
	margin-top: 10px;
}

button {
	position: relative;
	left: 50%;
	padding: 0.5em;
	transform: translateX(-50%);
	margin-top: 10px;
	color: var(--font_color);
	background-color: var(--button_background);
	border: 2px solid var(--border_color);
	font-family: 'Acme', sans-serif;
	font-size: 1.1em;
}

button:hover {
	position: relative;
	left: 50%;
	padding: 0.5em;
	transform: translateX(-50%);
	margin-top: 10px;
	color: var(--font_color_hover);
	background: var(--button_background_hover);
	border: 2px solid var(--border_color);
	font-family: 'Acme', sans-serif;
	font-size: 1.1em;
}

#timer {
	margin: 0 auto;
	padding-top: 10px;
	display: flex;
	align-items: center;
    justify-content: center;
	color: var(--font_color);
	font-family: 'Acme', sans-serif;
	font-size: 1.2em;
}

#popup {
	position: relative;
	bottom: 325px;
	height: 150px;
	width: 375px;
	background-color: white;
	border: 5px solid black;
	margin: 0 auto;
}
